<%= form_with model: [@user, @user.articles.find(params[:id])] do |form| %>
	<h1><%= params[:id] %> </h1>
	<div>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</div>

	<div>
		<%= form.label :body %><br>
		<%= form.text_area :body %><br>
	</div>
	<div>
		<%= form.submit %>
	</div>
<% end %>
