<%= form_for :article, @article, :url => { :controller => 'articles', :action => 'update' } do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>
